* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(0, 0, 0);
    color: white;
    user-select: none;
    max-height: 100vh;
}

.container{
    height: 100vh;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px;
    padding: 2%;
    margin-bottom: 40px;
}

.menu svg{
    cursor: pointer;
    margin-bottom: 1%;
}

.menu i{
    background: linear-gradient(180deg, #9796f0, #fbc7d4);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: 600;
    font-size: 2.1rem;
    text-decoration: none;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 1%;
}

.card img{
    height:120px;
}

h5{
    text-align: center;
}

.pyq,.session, .doubt, .exam,.test,.bank,.result{
    cursor: pointer;
}