* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(0, 0, 0);
    color: white;
    user-select: none;
    max-height: 100vh;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    height: 100vh;
    width: 50vh;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px;
    padding: 2%;
}

.menu svg{
    cursor: pointer;
    margin-bottom: 6%;
}

.menu i{
    background: linear-gradient(180deg, #9796f0, #fbc7d4);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: 600;
    font-size: 2.1rem;
    text-decoration: none;
}

.items{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
}

.items img{
    height: 100px;
}

.test{
    padding: 10%;
    text-align: left;
}

p{
    padding: 1%;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    color: #000;
    font-weight: bold;
    background: linear-gradient(160deg, #9796f0, #fbc7d4);
    padding: 12px 30px;
    border: none;
    font-size: 1rem;
    border-radius: 6px;
    margin-top: 38px;
    cursor: pointer;
    transition: 0.2s ease;
}

h3{
    text-align: center;
    padding: 3%;
}