*{
    user-select: none;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #ffffff;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

.menu {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 30px;
    padding: 10px;
    width: 100%;
}

.menu svg {
    cursor: pointer;
    margin-bottom: 15px;
}

.menu i {
    background: linear-gradient(130deg, #9796f0, #fbc7d4);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: 600;
    font-size: 2.1rem;
    text-decoration: none;
    padding: 10px;
}

.card {
    display: flex;
    align-items: center;
    gap: 5%;
    background-color: #1f1f1f;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {
    border-radius: 8px;
    margin-right: 20px;
    width: 120px;
    height: auto;
    object-fit: cover;
}

.card-content {
    display: flex;
    flex-direction: column;
}

.card h3 {
    margin: 0 0 10px 0;
    font-size: 1.5em;
    color: #ffffff;
}

.test-info {
    margin: 2px 0;
    font-size: 1em;
    color: #aaaaaa;
}

.card + .card {
    margin-top: 20px;
}
